﻿@model ContactModel;
@{
    ViewData["Title"] = "Página de Inicio";
}
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Mejores soluciones para tu negocio</h1>
                    <h2>Somos el equipo indicado para apoyar tus proyectos.  Consultoría, tecnología y experiencia.</h2>
                    <div class="d-lg-flex">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/tech1.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/tech2.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/tech3.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/tech4.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/tech5.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/tech6.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section>
    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Sobre Nosotros</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Boiler Software Boutique se constituye el año 2016 como respuesta a la creciente demanda de servicios en el área de integración de sistemas
                        y optimización de infraestructura.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <ul>
                        <li><i class="ri-check-double-line"></i> Soluciones de Desarrollo, Integraciones y Gateways Aplicativos (API)</li>
                        <li><i class="ri-check-double-line"></i> Sizing de capacidad  y arquitectura de sistemas</li>
                        <li><i class="ri-check-double-line"></i> Protección aplicativa y publicación segura </li>
                    </ul>
                    
                </div>
            </div>

        </div>
    </section>
    <!-- End About Us Section -->

  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Servicios</h2>
                <p>A continuación, serevicios Boiler Software Boutique para su empresa.</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dev-to"></i></div>
                        <h4><a href="">Desarrollo de Sistemas y Api</a></h4>
                        <p>Software Factory para soluciones de integración de sistemas, portales web, landing y aplicaciones web responsivas</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-virus"></i></div>
                        <h4><a href="">Seguridad Informática</a></h4>
                        <p>Implementación de soluiciones de seguridad, publicación de aplicaciones y análisis de seguridad aplicativa.  Ethical Hacking</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-server"></i></div>
                        <h4><a href="">Infraestructura y Servicios</a></h4>
                        <p>Proyectos de infraestructura, consolidación de servidores on-premise y nube (cloud)</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxs-store"></i></div>
                        <h4><a href="">Comercio Electrónico e Integraciones</a></h4>
                        <p>Portales de comercio electrónico e integración con gateway's aplicativos.  Prestashop, WooCommerce, Shopify etc.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
                <p>Equipo de trabajo Boiler Software Boutique</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Mauricio Marín</h4>
                            <span>Chief Executive Officer</span>
                            <p>Infraestructura, seguridad y aplicaciones</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Denisse Aedo</h4>
                            <span>Product Manager</span>
                            <p>Marketing, RRSS y Relaciones Públicas</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Giorgio Stefoni</h4>
                            <span>CTO</span>
                            <p>Proyectos, Metodologías y Gestión</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                        <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Javiera Marín</h4>
                            <span>Accountant</span>
                            <p>Gestión de Clientes y Accounting</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section --> 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contacto</h2>
                <p>Pongase en contacto con nosotros.  Complete los campos a continuación.</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Dirección:</h4>
                            <p>Avda. Ricardo Lyon 3300, Ñuñoa.  Santiago</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>contacto@boiler.cl</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Teléfono:</h4>
                            <p>+56 (9) 5531-5988</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form asp-controller="Home" asp-action="SendContact" enctype="multipart/form-data" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="strNombre">Nombre</label>
                                <input asp-for="nombre" type="text" name="nombre" class="form-control" id="strNombre" data-rule="minlen:4" data-msg="Debe ingresar nombre" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Correo Electrónico</label>
                                <input asp-for="email" type="email" class="form-control" name="email" id="strCorreo" data-rule="email" data-msg="Debe ingresar email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Asunto</label>
                            <input asp-for="asunto" type="text" class="form-control" name="asunto" id="strAsunto" data-rule="minlen:4" data-msg="Debe ingresar asunto" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="name">Mensaje</label>
                            <textarea asp-for="mensaje" id="strMensaje" class="form-control" name="mensaje" rows="10" data-msg="Por favor ingrese al menos 8 caracteres en el campo mensaje."></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Cargando...</div>
                            <div class="error-message">Problemas con el envío del mensaje.</div>
                            <div class="sent-message">Su mensaje ha sido enviado. Muchas Gracias!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->